<h1>Puchases</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions">Home</a>
</p>

<table>
  <thead>
  <tr>
    <th>Merchant Name</th>
    <th>Item</th>
    <th>Type</th>
    <th>Amount Spent</th>
    <th>Maintenance</th>
  </tr>
</thead>
<tbody>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.merchant.name %></td>
    <td><%= transaction.tag.name %></td>
    <td><%= transaction.tag.type %></td>
    <td> £<%= transaction.amount %></td>
    <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
    <input class="btn btn--action" type="submit" value="delete" />
    </form>
  </td>
  </tr>
  <% end %>
</tbody>
  <tfoot>
    <td>Total Spent = £<%=@total%></td>
  </tfoot>
</table>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions/clothing">Clothes Spending</a>
</p>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions/food">Food Spending</a>
</p>
