<h1>Purchases</h1>

<p class="btn_wrapper">
  <a class="btn_action" href="/transactions">Home</a>
</p>

<table>
  <thead>
    <tr>
      <th>Merchant Name</th>
      <th>Item</th>
      <th>Type</th>
      <th>Amount Spent</th>
      <th>Maintenance</th>
    </tr>
  </thead>
  <tbody>
    <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.merchant.name %></td>
      <td><%= transaction.item_name %></td>
      <td><%= transaction.tag.item_type %></td>
      <td> £<%= transaction.amount %></td>
      <td>
        <form action="/transactions/<%= transaction.id %>/delete" method="POST">
          <input class="btn_action" type="submit" value="delete" />
        </form>
        <form action="/transactions/<%= transaction.id %>/update" method="GET">
          <input class="btn_action" type="submit" value="update" />
        </form>
      </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <td>Total Spent = £<%=@total%></td>
    </tfoot>
  </table>

<p class="btn_wrapper">
  <a class="btn_action" href="/transactions/clothing">Clothes Spending</a>
</p>
<p class="btn_wrapper">
  <a class="btn_action" href="/transactions/food">Food Spending</a>
</p>
