<h1>Puchases</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions">Home</a>
</p>

<table>
  <thead>
  <tr>
    <td>Merchant Name</td>
    <td>Item</td>
    <td>Type</td>
    <td>Amount Spent</td>
  </tr>
</thead>
<tbody>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.merchant.name %></td>
    <td><%= transaction.tag.name %></td>
    <td><%= transaction.tag.type %></td>
    <td> £<%= transaction.amount %></td>
  </tr>
  <% end %>
</tbody>
  <tfoot>
    <td>Total Spent = £<%=@total%></td>
  </tfoot>
</table>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions/clothing">Clothes Spending</a>
</p>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions/food">Food Spending</a>
</p>
