<h1>Transactions</h1>

<p class="btn_wrapper">
  <a class="btn_action" href="/transactions/new">New transaction</a>
</p>

<table>
  <thead>
    <tr>
      <th>Merchant Name</th>
      <th>Item</th>
      <th>Type</th>
      <th>Amount Spent</th>
    </tr>
  </thead>
  <tbody>
    <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.merchant.name %></td>
      <td><%= transaction.item_name %></td>
      <td>
          <a class="btn_action" href="/transactions/<%= transaction.tag.item_type %>"><%= transaction.tag.item_type %></a>
      </td>
      <td> £<%= transaction.amount %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <td>Total Spent = £<%=@total%></td>
  </tfoot>
</table>
