<h1>Transactions</h1>

<p>Budget left is £<%=Transaction.budget_limit%></p>

<p class="btn_wrapper">
  <a class="btn_action" href="/transactions/new">New transaction</a>
</p>

<table>
  <thead>
    <tr>
      <th scope="col">Merchant Name</th>
      <th scope="col">Item</th>
      <th scope="col">Type</th>
      <th scope="col">Amount Spent</th>
    </tr>
  </thead>
  <tbody>
    <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.merchant.name %></td>
      <td><%= transaction.item_name %></td>
      <td>
          <a class="btn_action" href="/transactions/<%= transaction.tag_id %>"><%= transaction.tag.item_type %></a>
      </td>
      <td> £<%= transaction.amount %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <td>Total Spent = £<%=@total%></td>
  </tfoot>
</table>
